.user-container {
    #customers {
        font-family    : Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width          : 100%;
    }

    #customers td,
    #customers th {
        border : 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top     : 12px;
        padding-bottom  : 12px;
        text-align      : left;
        background-color: #04AA6D;
        color           : white;
    }


    .action-icon {

        // display        : flex;
        // justify-content: center;
        // gap            : 12px;
        ._edit {
            margin-right: 20px;
            color       : #ff8400;
            cursor      : pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        ._delete {
            color : rgb(180, 2, 2);
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

        }
    }

    button:focus {
        outline: none !important;
    }

    .btn-primary {
        border : none !important;
        outline: none !important;

        .fa-plus {
            margin-right: 5px;
        }
    }
}

.modal-user-container {
    .close {
        // background-color: #04AA6D;
    }

    .modal-user-body {
        display  : flex;
        gap      : 10px;
        flex-wrap: wrap;

        .input-container {
            display       : flex;
            flex-direction: column;
            width         : 49%;

            label {
                font-size: 14px;
            }

            input {
                margin-bottom: 0;
                border-radius: 3px;
                height       : 30px;
                outline      : none;
                border       : 1px solid #ddd;
                font-size    : 14px;
                padding      : 0 10px;
            }
        }
    }

    .btn-action {
        min-width: 70px;
    }

}